@use "src/Styles/mixins" as m;

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 50px;
}

.notFoundMessage > p {
  line-height: 28px;
}

.notFoundMessage > p > a {
  color: var(--black);
  text-decoration: underline;
}
